<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<style>
body{background-image:url("https://hdwallsource.com/img/2014/9/blur-26347-27038-hd-wallpapers.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}	
label{font-size:24px}
input[type=text]{width: 24%;
	background-color: #A9A9A9;
}
input[type=password]{
	width:24%;
	background-color: #A9A9A9;
}	
button[type=submit]{
	box-shadow: 0 5px #666;

}

</style>


<h1 align="center"> Admin Login </h1><br>
<br>
<br>
<br>
 <form action="" method="POST" align=center>
<div class="form-group" align=center>
  <label>Username : </label>
  <input type="text" name="username" class="form-control"  value={{request.form.username}}>
</div><br>
<div class="form-group" align=center>
  <label>Password : </label>
  <input type="password" name="password" class="form-control" value={{request.form.password}}>
</div><br>
<button type="submit" class="btn btn-primary">Submit</button><br><br>
</form>
<br>
<p align="center">
<button><a href="/home"> Home</a></button>
</p>